<nav class="nav">
	<ul class="flex gap-1.5 items-center flex-wrap">
		<li class="shrink-0"><a class="flex items-center px-4 py-0.5 bg-sky-600 text-white rounded-lg transition-all hover:bg-sky-800" href="index.html">Index page</a></li>
		<li class="shrink-0"><a class="flex items-center px-4 py-0.5 bg-sky-600 text-white rounded-lg transition-all hover:bg-sky-800" href="second-page.html">Second page</a></li>
		<li class="shrink-0"><a class="flex items-center px-4 py-0.5 bg-sky-600 text-white rounded-lg transition-all hover:bg-sky-800" href="third-page.html">Third page</a></li>
	</ul>
</nav>
