@import "tailwindcss";

@theme {
	--font-inter: "Inter", sans-serif;
	--font-gilroy: "Gilroy", sans-serif;
}

[x-cloak] {
	display: none !important;
}

body {
	@apply font-inter;
}

.container {
	@apply max-w-380 mx-auto px-4;
}
